<include file="Index/header"/>
<h1 class="page-title">增加管理员</h1>
<div class="well">
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="home">
<form>
				<div class="form-group">
				    <label for="shoujihao">姓名</label>
				    <input type="text" name="username"   style="width:600px;" class="form-control" id="shoujihao" placeholder="请输入您的姓名">
				</div>
				<div class="form-group">
				    <label for="chufa">密码</label>
				    <input type="password" name="password"  style="width:600px;"  class="form-control" id="chufa" placeholder="请输入您的密码">
				</div>
				 <div class="form-group">
				    <label for="chufa">再次输入</label>
				    <input type="password" name="newpassword"  style="width:600px;"  class="form-control" id="chufa" placeholder="请输入再次输入密码">
				</div>
				<div class="form-group">
				    <label for="daoda">邮箱</label>
				    <input type="text" name="email"  style="width:600px;" class="form-control" id="daoda" placeholder="你的邮箱">
				</div>
                    <input  style="width:60px; margin-right:450px;margin-top:20px;" class="btn btn-primary pull-right" onclick="Admin()" value="提交"/>
                    <div class="clearfix"></div>
                </form>
      </div>
      <div class="tab-pane fade" id="profile">
      </div>
  </div>

</div>


        </div>
    </div>
<include file="Index/footer"/>