<include file="Index/header"/>
<body>
<div id="wrap" class="clearfix overflow mg-auto">    
  <a href="/index.php"><div class="i-head mg-auto overflow area border-bom">
     <h1>司机列表</h1>
  </div></a>  <!--列表开始-->
    <div class="i-tab mg-auto overflow area clearfix">
      <div class="i-tab-title">
          <h2>司机列表</h2>
          	
      </div>
      <div class="tab-content clearfix overflow" id="con1">
        <div class="clearfix tab-con2 " >
             <ul class="clearfix">
				<volist name="res" id="vo">
                  <li style="background-color:white;">
                   <a href="#" class="tab-con-href2 clearfix">
                     <div class="img2" style="margin-left:8px;margin-right:8px;">
                     <img style="height:80px;width:80px;" src="{$vo.thumb}" alt="" title="">
                     </div>
                     
                     <p style="height:16px;font-size:12px;"><i><span style="font-size:16px;color:black;">{$vo.username}</span><span style="font-size:12px;color:gray;">&nbsp;&nbsp;&nbsp;手机号：&nbsp;{$vo.iphone}</span></i></p>
                     
                     <p style="font-size:12px;"><i>地址：<span style="color:red">{$vo.deliver}</span></i></p> 
                     <p style="font-size:12px;"><i>车型：<span style="color:red">{$vo.driver_type}</span></i></p>                    
                     
                   </a>                       
                </li>  
				</volist>        
           </ul>        
         </div>
      </div>
    </div>
<include file="Index/footer"/>